<!DOCTYPE html>
{% load static %}
{% load group_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <style>html {visibility: hidden;}</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'contracts/styles.css' %}">

    <!-- Ensure jQuery is loaded first -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include additional scripts needed across all pages in the extra_head block -->
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <!-- Navigation, site title, etc. -->
    <div class="header">
        <div class="logo">
            <!-- Add your logo here -->
            <img src="{{ MEDIA_URL }}logo/Final_Logo.png" alt="Essence Logo">
        </div>
        <div class="user-info">
            <span>Hello, {{ request.user.first_name }}</span>
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Logout" class="logout-button" style="width:auto;height:auto;font-size:14px;padding:5px 10px;background-color:#A0C49D;color:white;border:none;border-radius:4px;cursor:pointer;margin:0;line-height:normal;">
            </form>
        </div>
    </div>
    <div class="menu-container">
        <ul class="menu">
            <li class="menu-item"><a href="{% url 'communication:tasks' %}">Tasks</a></li>
            <li class="menu-item"><a href="{% url 'contracts:contract_new' %}">New Contract</a></li>
            {% if request.user|in_group:"EventStaffPayrollReportViewer" or request.user|in_group:"AllReportViewer" %}
                <li class="menu-item"><a href="{% url 'reports:reports' %}">Reports</a></li>
            {% endif %}
            <li class="menu-item"><a href="{% url 'users:event_staff' %}">Event Staff</a></li>
            <li class="menu-item"><a href="{% url 'contracts:contract_search' %}">Contract Search</a></li>
            <li class="menu-item"><a href="{% url 'bookings:booking_search' %}">Booking Search</a></li>
            {% if request.user|in_group:"IT-Admin" %}
                <li class="menu-item"><a href="/admin" target="_blank">Admin</a></li>
            {% endif %}
        </ul>
    </div>
    <main>
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </main>

        {% include 'communication/modals/_add_task_modal.html' %}
        {% include 'communication/modals/_edit_task_modal.html' %}


    <!-- Bootstrap and other libraries should load after jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript can be included here or in extra_head, depending on dependencies -->
    <script src="{% static 'communication/js/tasks.js' %}"></script>

    <script>
        $(function () {
            $('#myTab a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
</body>
</html>
