{% for type, messages in messages_by_type.items %}
    <h3>{{ type|title }} Messages</h3>
    {% for message in messages %}
        <div class="message">
            <p><strong>ID:</strong> {{ message.id }}</p>
            <p><strong>From:</strong> {{ message.created_by.username }}</p>
            <p><strong>Date:</strong> {{ message.created_at }}</p>
            <p>{{ message.content }}</p>
            <!-- Button to open the task creation modal -->
            <button type="button" class="btn btn-dusty-pink" data-toggle="modal" data-target="#addTaskModal"
                    data-sender-id="{{ request.user.id }}"
                    data-contract-id="{{ message.contract.contract_id|default:'' }}"
                    data-note-id="{{ message.id }}"
                    data-type="contract">Add Task
            </button>

        </div>
    {% endfor %}
{% endfor %}

 <!-- Add Task Modal -->
        {% include 'communication/modals/_add_task_modal.html' %}
