<table class="table table-striped" style="font-size: 10pt;">
    <thead>
        <tr>
            <th style="height: 30px;">Sender</th>
            <th style="height: 30px;">Assigned</th>
            <th style="height: 30px;">Note</th>
            <th style="height: 30px;">Due Date</th>
            <th style="height: 30px;">Description</th>
            <th style="height: 30px;">Status</th>
        </tr>
    </thead>
    <tbody>
        {% include 'contracts/partials/messages/_task_list_snippet.html' %}
    </tbody>
</table>
