.env
.env.*
!.env.example
.next
node_modules
__pycache__/
*.pyc
weddingbook_project/settings.py

weddingbook_project/settings.py
weddingbook_project/settings.py
weddingbook_project/settings.py
weddingbook_project/settings.py
