<!-- Change Log Tab Content -->
<div class="tab-pane fade" id="changelog">
    <div class="table-responsive mt-3">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for log in changelogs %}
                <tr>
                    <td>{{ log.timestamp|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ log.user.get_full_name }}</td>
                    <td>{{ log.description }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No changes logged yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
