<div class="tab-pane fade" id="docs">
    <div class="row">
        <!-- Document List Section -->
        <div class="col-md-6">
            {% include 'contracts/partials/documents/_document_list.html' %}
        </div>

        <!-- Document Agreements Section -->
        <div class="col-md-6">
            {% include 'contracts/partials/documents/_signed_agreements.html' %}
        </div>
    </div>

    <!-- Document Upload Section -->
    <div class="row">
        <div class="col-md-12">
            {% include 'contracts/partials/documents/_upload_documents.html' %}
        </div>
    </div>

    <!-- Office Staff Link to Wedding Day Guide -->
    <div class="row">
        <div class="col-md-12">
            {% include 'contracts/partials/documents/_wedding_day_guide.html' %}
        </div>
    </div>
</div>
