<div class="tab-pane container fade" id="financial">
    <input type="hidden" class="form-control" id="id_location" name="location">
    <!-- Financial Tab Navigation -->
    <ul class="nav nav-tabs" id="financialTabsNav" role="tablist">
        <li class="nav-item">
            <a class="nav-link active text-dark-sienna" id="payments-tab" data-toggle="tab" href="#payments" role="tab" aria-controls="payments" aria-selected="true">Payments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark-sienna" id="fees-tab" data-toggle="tab" href="#fees" role="tab" aria-controls="fees" aria-selected="false">Fees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark-sienna" id="discounts-tab" data-toggle="tab" href="#discounts" role="tab" aria-controls="discounts" aria-selected="false">Discounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark-sienna" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="false">Summary</a>
        </li>
    </ul>
    <!-- Financial Tab Content -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="payments" role="tabpanel" aria-labelledby="payments-tab">
            {% include 'contracts/partials/financial/_payments_tab.html' %}
        </div>
        <div class="tab-pane fade" id="fees" role="tabpanel" aria-labelledby="fees-tab">
            {% include 'contracts/partials/financial/_fees_tab.html' %}
        </div>
        <div class="tab-pane fade" id="discounts" role="tabpanel" aria-labelledby="discounts-tab">
            {% include 'contracts/partials/financial/_discounts_tab.html' %}
        </div>
        <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summary-tab">
            {% include 'contracts/partials/financial/_summary_tab.html' %}
        </div>
    </div>
</div>
