<div id="services" class="tab-pane fade" style="padding-bottom: 30px;">
    <!-- Include Sub-Tab Navigation -->
    {% include 'contracts/partials/service_tabs/_services_nav.html' %}

    <!-- Sub-Tab Content -->
    <div class="tab-content">
        {% include 'contracts/partials/service_tabs/_hidden_fields.html' %}
        {% include 'contracts/partials/service_tabs/_photography_tab.html' %}
        {% include 'contracts/partials/service_tabs/_videography_tab.html' %}
        {% include 'contracts/partials/service_tabs/_dj_tab.html' %}
        {% include 'contracts/partials/service_tabs/_photobooth_tab.html' %}
        {% include 'contracts/partials/service_tabs/_discounts_tab.html' %}
    </div>
</div>
