<ul class="nav nav-tabs" id="serviceTabs">
    <li class="nav-item">
        <a class="nav-link active text-dark-sienna" href="#photography" data-toggle="tab">Photography</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark-sienna" href="#videography" data-toggle="tab">Videography</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark-sienna" href="#dj" data-toggle="tab">DJ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark-sienna" href="#photobooth" data-toggle="tab">Photobooth</a>
    </li>
</ul>
