{% extends "base.html" %}
{% load static %}
{% load app_filters %}

{% block content %}
<div class="outer-container">
    <div class="search-results">
        <h4>Contacts Report</h4>
        <button onclick="history.back()" class="btn btn-dusty-pink">Go Back</button>

        <form method="get" class="report-form">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
            <label for="location">Location:</label>
            <select id="location" name="location">
                <option value="all" {% if selected_location == 'all' %}selected{% endif %}>All Locations</option>
                {% for location in locations %}
                <option value="{{ location.id }}" {% if selected_location == location.id|stringformat:"s" %}selected{% endif %}>{{ location.name }}</option>
                {% endfor %}
            </select>
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="all" {% if selected_status == 'all' %}selected{% endif %}>All Statuses</option>
                {% for status in statuses %}
                <option value="{{ status.0 }}" {% if selected_status == status.0 %}selected{% endif %}>{{ status.1 }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn-dusty-pink">Generate Report</button>
        </form>

        <div class="search-results">
            <h6>Contacts from {{ start_date }} to {{ end_date }}</h6>
            <table>
                <thead>
                    <tr>
                        <th>Primary Contact</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Contract Date</th>
                        <th>Event Date</th>
                        <th>Location</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in report_data %}
                    <tr>
                        <td>{{ data.primary_contact }}</td>
                        <td>{{ data.primary_email }}</td>
                        <td>{{ data.primary_phone1 }}</td>
                        <td>{{ data.contract_date }}</td>
                        <td>{{ data.event_date }}</td>
                        <td>{{ data.location }}</td>
                        <td>{{ data.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
