{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
    <div class="reports-section">
        <table class="category-table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Reports</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Performance</td>
                    <td>
                        <ul class="report-list">
                            <li><a href="{% url 'contracts:appointments_report' %}">Appointments Report</a></li>
                            <li><a href="{% url 'contracts:lead_source_report' %}">Lead Source Report</a></li>
                            <li><a href="{% url 'contracts:reception_venue_report' %}">Reception Venue Report</a></li>
                            <!-- Add more event reports as needed -->
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Finance</td>
                    <td>
                        <ul class="report-list">
                            <li><a href="{% url 'contracts:sales_detail_report' %}">Sales Detail Report</a></li>
                            <li><a href="{% url 'contracts:revenue_report' %}">Revenue Report</a></li>
                            <li><a href="{% url 'contracts:revenue_by_contract' %}">Revenue by Contract</a></li>
                            <li><a href="{% url 'contracts:deferred_revenue_report' %}">Deferred Revenue Report</a></li>
                            <li><a href="{% url 'contracts:sales_tax_report' %}">Sales Tax Report</a></li>
                            <li><a href="{% url 'contracts:payments_due_report' %}">Payments Due Report</a></li>
                            <li><a href="{% url 'contracts:formal_wear_deposit_report' %}">Formal Wear Report</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Event Staff</td>
                    <td>
                        <ul class="report-list">
                            <!-- Add event staff reports as needed -->
                            <li><a href="{% url 'contracts:event_staff_payroll_report' %}">Event Staff Payroll Report</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
