{% extends "base.html" %}

{% block title %}Search{% endblock %}


{% block content %}
<div class="container">
    <!-- Add padding above tabs -->
    <div class="mt-4"> <!-- Add top margin for padding -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'contracts' %}active{% endif %}"
                   href="?tab=contracts" role="tab">Contracts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'bookings' %}active{% endif %}"
                   href="?tab=bookings" role="tab">Bookings</a>
            </li>
        </ul>
    </div> <!-- Close padding div -->

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane {% if active_tab == 'contracts' %}active{% endif %}" id="contracts" role="tabpanel">
            {% include 'contracts/contract_search_form.html' %}
            {% if contracts %}
                {% include 'contracts/contract_search_results.html' %}
            {% else %}
                <p>No contracts found</p>
            {% endif %}
        </div>

        <div class="tab-pane {% if active_tab == 'bookings' %}active{% endif %}" id="bookings" role="tabpanel">
            {% include 'contracts/booking_search_form.html' %}
            {% if bookings %}

            {% else %}
                <p>No bookings found</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
