<!-- analog_signature_section.html -->

<!-- Main Contract Signature -->
<div class="contract-details">
    <div style="text-align: left;">
        <div class="divider" style="margin-top: 60px;"></div> <!-- Added margin-top for space above -->
        <p><strong>Signature:</strong></p>
        <div class="signature-box"></div> <!-- Empty box for signature -->
        <div class="divider" style="margin-bottom: 20px;"></div> <!-- Added margin-bottom for space below -->
        <p><strong>Date:</strong></p>
    </div>
</div>

<div class="contract-details">
    <div style="text-align: left;">
        <div class="divider" style="margin-top: 60px;"></div> <!-- Added margin-top for space above -->
        <p><strong>Essence Signature:</strong></p>
        <div class="signature-box"></div> <!-- Empty box for signature -->
        <div class="divider" style="margin-bottom: 20px;"></div> <!-- Added margin-bottom for space below -->
        <p><strong>Date:</strong></p>
    </div>
</div>

    <!-- Essence Representative Signature Section -->
