{% load group_tags %}
{% if formalwear_contracts %}
<div class="formalwear-details">
    <h3>Formalwear Rentals</h3>
    <table>
        <tr>
            <th>Item</th>
            <th colspan="3" style="text-align: left; padding: 8px; border: 1px solid #ddd;">Terms</th>
            <th>Deposit</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for formalwear in formalwear_contracts %}
        <tr>
            <td>{{ formalwear.formalwear_product.name }}</td>
            <td colspan="3" style="text-align: left; padding: 8px; border: 1px solid #ddd;">{{ formalwear.formalwear_product.default_text|safe }}</td>
            <td>${{ formalwear.formalwear_product.deposit_amount|floatformat:"2" }}</td>
            <td>{{ formalwear.quantity }}</td>
            <td style="text-align: right;">
                ${{ formalwear.quantity|multiply:formalwear.formalwear_product.rental_price|floatformat:"2" }}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" style="text-align: center;">No formalwear rentals.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
