{% extends "base.html" %}
{% block title %}Booking Search{% endblock %}

{% block content %}
<div class="outer-container">
    {% include "bookings/partials/booking_search_form.html" with action_url=request.path %}
</div>

<div class="outer-container">
    {% include "bookings/partials/booking_search_results.html" %}
</div>
{% endblock %}

{% block extra_head %}
<script>
    function clearForm(form) {
        form.reset();
        window.location.href = "{{ action_url }}";
    }
</script>
{% endblock %}
