{% extends "event_staff_base.html" %}
{% load static %}

{% block extra_head %}
<style>
    .hoverable-row {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="search-results">
        <h3 class="text-center mb-4">Your Bookings</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="bg-dusty-pink text-white">
                    <tr>
                        <th>Event Date</th>
                        <th>Role</th>
                        <th>Primary Contact</th>
                        <th>Reception</th>
                        <th>Ceremony</th>
                        <th>Confirmed</th> <!-- Added Confirmed column header -->
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr onclick="window.location='{% url 'contracts:booking_detail_staff' booking.id %}';" class="hoverable-row">
                        <td>{{ booking.contract.event_date }}</td>
                        <td>{{ booking.get_role_display }}</td>
                        <td>{{ booking.contract.client.primary_contact }}</td>
                        <td>{{ booking.contract.reception_site }}, {{ booking.contract.reception_city }}, {{ booking.contract.reception_state }}</td>
                        <td>{{ booking.contract.ceremony_site }}, {{ booking.contract.ceremony_city }}, {{ booking.contract.ceremony_state }}</td>
                        <td>
                            {% if booking.confirmed %}
                                <span class="badge badge-success">Yes</span>
                            {% else %}
                                <span class="badge badge-danger">No</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
