{% load static %}
            <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'contracts/styles.css' %}">
<!-- Checkbox to toggle completed tasks -->
<label>
    <input type="checkbox" id="showCompletedTasks"> Show Completed Tasks
</label>
<!-- users/templates/users/task_list_snippet.html -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Contract ID</th>
            <th>Note ID</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Assigned To/By</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr class="{% if task.is_completed %}task-completed{% endif %}">
            <td>
                {% if task.contract %}
                    <a href="{% url 'contracts:contract_detail' task.contract.contract_id %}">{{ task.contract.contract_id }}</a>
                {% else %}
                    No contract
                {% endif %}
            </td>
            <td>
                {% if task.note %}
                    <a href="{% url 'contracts:contract_detail' task.note.id %}">{{ task.note.id }}</a>
                {% else %}
                    No note
                {% endif %}
            </td>
            <td>{{ task.description }}</td>
            <td>{{ task.due_date|date:"Y-m-d" }}</td>
            <td>
                {% if task.sender %}
                    Assigned by: {{ task.sender.username }}
                {% endif %}
                {% if task.assigned_to %}
                    <br>Assigned to: {{ task.assigned_to.username }}
                {% endif %}
            </td>
            <td>
                <form action="{% url 'users:mark_complete' task.id %}" method="post" class="mark-complete-form" data-task-id="{{ task.id }}">
                    {% csrf_token %}
                    <input type="checkbox" name="is_completed" class="mark-complete-checkbox" {% if task.is_completed %}checked{% endif %}>
                </form>
                <!-- Edit Button -->
                <button type="button" class="btn btn-copper-rose mb-3 edit-task-btn" data-toggle="modal" data-target="#editTaskModal"
                        data-task-id="{{ task.id }}"
                        data-sender-id="{{ task.sender.id }}"
                        data-assigned-to-id="{{ task.assigned_to.id }}"
                        data-due-date="{{ task.due_date|date:'Y-m-d' }}"
                        data-description="{{ task.description }}"
                        data-update-task-url="{% url 'users:update_task' task.id %}">Edit Task</button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No tasks assigned.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
