 <!-- Modal for adding a new task -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="addTaskForm" data-create-task-url="{% url 'communication:create_task' %}">
                    {% csrf_token %}
                    {{ task_form.as_p }}
                    <input type="hidden" id="id_sender" name="sender" value="{{ request.user.id }}">
                    <input type="hidden" id="id_task_type" name="task_type" value="">
                    <input type="hidden" id="id_contract" name="contract" value="">
                    <input type="hidden" id="id_note" name="note" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-dismiss="modal">Close</button>
                <button type="submit" class="btn-dusty-pink" form="addTaskForm">Save Task</button>
            </div>
        </div>
    </div>
</div>