Hello {{ user.first_name }},

You have been booked for an upcoming wedding on {{ contract.event_date }}. Please confirm your availability by logging into your portal and confirming on the booking page.

Contract ID: {{ contract.contract_id }}
Event Date: {{ contract.event_date }}
Ceremony Location: {{ contract.ceremony_site }}
Reception Location: {{ contract.reception_site }}
Role: {{ contract.get_role_display }}

Please log in to confirm your availability as soon as possible.

If you have any questions, please contact us at testmydjango420@gmail.com.

Best regards,
Essence Weddings
