{% autoescape off %}
{% if user.user_type == 'client' %}
    Hello {{ user.first_name }},
{% elif user.user_type == 'coordinator' %}
    Hello {{ user.first_name }},
{% else %}
    Hello,
{% endif %},

A new message has been posted for Contract {{ contract.custom_contract_number }} by {{ user.get_full_name|default:user.username }}.

Message: {{ message.content }}

Please log in to view and respond to the message:

http://{{ domain }}/contracts/{{ contract.contract_id }}/details

Thank you!
{% endautoescape %}
