from django.core.mail import EmailMessage

subject = "Welcome to Essence Weddings!"
html_message = """
<p>Dear {{ user.get_full_name }},</p>

<p>Welcome to Essence Weddings! We're thrilled to be a part of your special event. To get started, we've created a portal for you to manage all the details of your booking.</p>

<p>Please click the link below to set up your password and access your portal:</p>

<p><a href="https://www.enet2.com/users/password_reset/" style="color: #E91E63; text-decoration: none;">Set Your Password</a></p>

<p>If you have any questions or need assistance, our team is here to help. We can't wait to work with you to create unforgettable memories!</p>

<p>Warm regards,</p>
<p>The Essence Weddings Team</p>
"""
email = EmailMessage(
    subject,
    html_message,
    "your-email@example.com",
    [user.email],
)
email.content_subtype = "html"  # Set the email to HTML
email.send()
