<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Add links to your CSS files here -->
</head>
<body>
    <header>
        <!-- Navigation, site title, etc. -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Copyright statement, etc. -->
    </footer>
<div class="header">
    <div class="logo">
        <!-- Add your logo here -->
        <img src="{% static 'path/to/your/logo.png' %}" alt="Logo">
    </div>
    <ul class="menu">
        <li class="menu-item"><a href="{% url 'users:tasks' %}">Tasks</a></li>
        <li class="menu-item"><a href="{% url 'contracts:contract_new' %}">New Contract</a></li>
        <li class="menu-item"><a href="{% url 'users:financial_reports' %}">Reports</a></li>
        <li class="menu-item"><a href="{% url 'admin:index' %}">Admin</a></li>
        <li class="menu-item"><a href="{% url 'contracts:contract_search' %}">Search</a></li>
    </ul>
    <div class="user-info">
        <span>Hello, {{ request.user.first_name }}</span>
        <form action="{% url 'users:logout' %}" method="post" style="margin-left: 10px;">
            {% csrf_token %}
            <input type="submit" value="Logout" class="logout-button">
        </form>
    </div>
</div>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <! <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Your custom JavaScript code -->
    <script src="{% static 'communication/js/tasks.js' %}"></script>
    <!-- Add links to your JavaScript files here -->

</body>
</html>
